In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import sys
sys.path.insert(0,'src/')
import acs5


%matplotlib inline

In [3]:
# Importing Data 
df=acs5.get_acs_all()

In [4]:
df.shape

(4918, 65)

In [5]:
#Identifying tracts with population = 0 
zero_pop = df[df['Total_population']==0]
# Census tracts with population = 0 are parks and other public areas http://maps.nyc.gov/census/

In [6]:
zero_pop.shape

(61, 65)

In [7]:
# Dropping tracts with no population for EDA
acs = df[df['Total_population']>0]

In [8]:
acs.shape

(4857, 65)

In [9]:
#Creating percentage data 
income = ['Less_10k','10k_15k','15k_25k','25k_35k','35k_50k','50k_75k','75k_100k',
          '100k_150k','150k_200k','200k_more']
for i in income:
    acs['Percent_{}'.format(i)]=acs[i]/acs['households']

/Users/mariamendieta/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [10]:
education = ['Less_9th', '12th_no_dip','HighSchool', 
             'Some_college','Associate', 'Bachelors','Graduate']
for i in education:
    acs['Percent_{}'.format(i)]=acs[i]/acs['Pop_over_25']

/Users/mariamendieta/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [12]:
acs['Percent_hh_w_children']=acs['Hh_w_children']/acs['Total_hh_by_type']

/Users/mariamendieta/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [13]:
acs['Percent_occupied'] = acs['Occupied_units']/acs['Housing_Units']

/Users/mariamendieta/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [14]:
units = ['1_unit_detached','1_unit_attached','2_units',
       '3_4_units','5_9_units','10_19_units','20+_units']
for i in units:
    acs['Percent_{}'.format(i)]=acs[i]/acs['Total_units_structure']

/Users/mariamendieta/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [16]:
rooms = ['1_room','2_rooms','3_rooms','4_rooms','5_rooms','6_rooms','7_rooms','8_rooms','9_more_rooms']
for i in rooms:
    acs['Percent_{}'.format(i)]=acs[i]/acs['Total_housing_units_Rooms']

/Users/mariamendieta/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [15]:
heating = ['Heating_gas','Heating_gas_tank','Heating_electricity','Heating_fuelkero',
           'Heating_coal_coke','Heating_wood','Heating_solar','Heating_other','Heating_no']
for i in heating:
    acs['Percent_{}'.format(i)]=acs[i]/acs['Occupied_units_heating']

/Users/mariamendieta/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [21]:
acs[education].describe()

,Less_9th,12th_no_dip,HighSchool,Some_college,Associate,Bachelors,Graduate
count,4857.000000,4857.000000,4857.000000,4857.000000,4857.000000,4857.000000,4857.000000
mean,184.144740,213.243978,738.911674,448.076796,235.608606,536.149269,410.139386
std,235.495387,187.607222,424.660044,252.100593,159.833406,459.033661,455.820975
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,49.000000,90.000000,437.000000,268.000000,119.000000,238.000000,132.000000
50%,103.000000,166.000000,673.000000,412.000000,200.000000,419.000000,272.000000
75%,224.000000,278.000000,970.000000,585.000000,318.000000,706.000000,521.000000
max,2987.000000,2824.000000,6512.000000,4982.000000,1757.000000,5777.000000,4694.000000