In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import sys
sys.path.insert(0,'src/')
import acs5
import nyserda_acs
import prices
import project_sunroof
import nyserda
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import train_test_split


%matplotlib inline

In [2]:
d = nyserda_acs.merging_data()

In [3]:
d.shape

(4918, 156)

In [4]:
len(d.columns)

156

In [8]:
pd.DataFrame(np.array(d.columns).reshape(26,6))

,0,1,2,3,4,5
0,12th_no_dip,Some_college,Total_households_by_type,Median_income,Bachelors,75k_100k
1,150k_200k,Pop_over_25,Avg_hh_size,Hh_w_children,35k_50k,15k_25k
2,Less_10k,Under_5_years,HighSchool,Associate,Mean_income,200k_more
3,Graduate,100k_150k,10k_15k,Less_9th,households,Total_population
4,50k_75k,25k_35k,Median_age,GEOID10,Percent_Less_10k,Percent_10k_15k
5,Percent_15k_25k,Percent_25k_35k,Percent_35k_50k,Percent_50k_75k,Percent_75k_100k,Percent_100k_150k
6,Percent_150k_200k,Percent_200k_more,Percent_less_35k,Percent_Less_9th,Percent_12th_no_dip,Percent_HighSchool
7,Percent_Some_college,Percent_Associate,Percent_Bachelors,Percent_Graduate,Percent_more_than_hs,Occupied_units
8,5_9_units,3_4_units,Heating_coal_coke,Occupied_units_heating,Rental_vacancy_rate,Heating_solar
9,Total_units_structure,8_rooms,1_unit_detached,Heating_gas_tank,Total_housing_units_Rooms,Heating_no
10,2_rooms,6_rooms,Heating_other,5_rooms,20+_units,Housing_Units
11,7_rooms,1_unit_attached,2_units,3_rooms,1_room,9_more_rooms
12,4_rooms,10_19_units,Heating_electricity,median_rooms,Heating_gas,Heating_wood
13,Median_unit_values,Heating_fuelkero,NAME,state,county,tract
14,Percent_occupied,Percent_1_unit_detached,Percent_1_unit_attached,Percent_2_units,Percent_3_4_units,Percent_5_9_units
15,Percent_10_19_units,Percent_20+_units,Percent_10+_units,Percent_1_unit,Percent_1_room,Percent_2_rooms
16,Percent_3_rooms,Percent_4_rooms,Percent_5_rooms,Percent_6_rooms,Percent_7_rooms,Percent_8_rooms
17,Percent_9_more_rooms,Percent_Heating_gas,Percent_Heating_gas_tank,Percent_Heating_electricity,Percent_Heating_fuelkero,Percent_Heating_coal_coke
18,Percent_Heating_wood,Percent_Heating_solar,Percent_Heating_other,Percent_Heating_no,Affordable_Solar,Community_Distributed_Generation
19,Expected_KWh_Annual_Production,Remote_Net_Metering,Total_Nameplate_kW_DC,Project_Cost,cost_Kw,Project_Number
20,region_name,state_name,lat_max,lat_min,lng_max,lng_min
21,lat_avg,lng_avg,yearly_sunlight_kwh_kw_threshold_avg,count_qualified,percent_covered,percent_qualified
22,number_of_panels_n,number_of_panels_s,number_of_panels_e,number_of_panels_w,number_of_panels_f,number_of_panels_median
23,number_of_panels_total,kw_median,kw_total,yearly_sunlight_kwh_n,yearly_sunlight_kwh_s,yearly_sunlight_kwh_e
24,yearly_sunlight_kwh_w,yearly_sunlight_kwh_f,yearly_sunlight_kwh_median,yearly_sunlight_kwh_total,install_size_kw_buckets_json,carbon_offset_metric_tons
25,existing_installs_count,Region,Mean_price,Var_price,county_name,Project_yes

In [ ]:
prices_with_codes.drop('County',axis=1, inplace=True)

In [ ]:
prices_with_codes.sort_values('county_name')

In [ ]:
f=b.merge(prices_with_codes, left_on='county', right_on='county', how='left')

In [ ]:
b.shape